body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;
}

.cell {
    border: 1px solid black;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
}